
  
  <p>
    <mat-toolbar color="primary">
      
      
      <span class="spacer"></span> Agregar 
      <button mat-icon-button class="example-icon favorite-icon" (click)="crear()" aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
        </button>
      <span class="example-spacer"></span>
     
      <button (click)="logOut()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon >close</mat-icon>
      </button>
    </mat-toolbar>
  </p>